.Section{
    padding: 82px 20px 0;
}
.section__title__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section__title__row .section__first__title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #000000;
}
.section__title__row .section__first__more {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.section__first__more a{
    margin: 0;
    padding: 0;
    color: #BE123C;
    text-decoration: none;
}
.section__first__more i{
    /* margin-left: 15.5px; */
    width: 11.67px;
    height: 5.83px;
    color: #B91C1C;
}
.section__first__slider{
    margin-top: 44px;
    overflow: hidden;
    /* border: 1px solid red; */
}
.wrap{
    position: relative;
}
.leftArrow{
    font-size: 35px;
    position: absolute;
    left: -50px;top: 50%;
    cursor: pointer;
    transform: translateY(-25px);
}
.rightArrow{
    font-size: 35px;
    position: absolute;
    right: -50px;top: 50%;
    cursor: pointer;
    transform: translateY(-25px);
}
.slider__wraper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* transform: translateX(-340px); */
    /* transform: translateX(-697px); */
    /* border: 1px solid red; */
    transition: .2s linear;
}
.slider__wraper .slider__card{
    min-width: 280px;
    min-height: 370px;
    margin-right: 60px;
}

.slider__card img{
    width: 100%;
    height: 300px;
    background-position: center center;
    object-fit: cover;
    background-size: cover;
    object-position: center;
    background-repeat: no-repeat;
}
.slider__card__header{
    position: relative;
}
.slider__card__header i{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-top: 3px;
}
.heart:active{
    color: #BE123C;
}
.heart{
    width: 40px;
    height: 35.21px;
    top: 16px;
    right: 16px;
    border-radius: 50%;
    background: rgba(243, 244, 246, 0.5);
    backdrop-filter: blur(2px);
    color: #D1D5DB;
    position: absolute;
    font-size: 20px;
}
.slider__card__body .slider__card__year{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #9CA3AF;
    margin: 12px 0;
}
.slider__card__body .slider__card__title{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #111827;
}
.slider__card__status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
}
.card__left__status, .card__right__status{
    display: flex;
    align-items: center;
}
.card__left__status img{
    width: 35px;
    height: 17px;

}
.card__right__status img{
    width: 16px;
    height: 17px;
}
.card__left__status, .card__right__status {
    display: flex;
}
.card__left__status__title, .card__right__status__title{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #111827;
    margin-left: 10px;
}
.slider__card__subtitle{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
color: #9CA3AF;
}

.two{
    margin-top: 81px;
}
